#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  text-align: center;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

